<div class="espacio"></div>
<div class="row m-0">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <img src="assets/icons/logo.png" alt="Logo Smart" height="auto" width="100%">
    </div>
    <div class="col-sm-4"></div>
</div>
<div class="row m-0">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="form-group p-5 shadow-lg mt-5 rounded">
            <form [formGroup]="ingreso" (ngSubmit)="onLogin(ingreso)">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="input-user" class="m-0"><small>Usuario</small></label>
                        <input formControlName="usuario" class="form-control" type="text" id="input-user">
                    </div>
                </div>
                <div class="form-row mb-3">
                    <label for="input-pass" class="m-0"><small>Clave</small></label>
                    <div class="input-group col-md-12 is-invalid">
                        <div class="custom-file">
                          <input formControlName="clave" clearInput="true" class="form-control" type="{{ show? 'text':'password'}}" id="input-pass">
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" (click)="[show=!show]">
                                <i *ngIf="!show" class="bi bi-eye-slash"></i>
                                <i *ngIf="show" class="bi bi-eye"></i>
                            </button>
                        </div>
                      </div>
                </div>
               
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-outline-secondary w-100 mt-4">Ingresar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="espaciado"></div>