<div class="d-flex flex-column align-items-center align-self-center">
    <button type="button" class="btn btn-outline-light mb-3" title="Análisis CSV">
        <i class="bi bi-bar-chart-line-fill fs-15 drop-two"></i>
    </button>
    <button type="button" class="btn btn-outline-light mb-3" title="CRUD">
        <i class="bi bi-asterisk fs-15 drop-two"></i>
    </button>
    <button type="button" class="btn btn-outline-light mb-3" title="Cerrar Sesión">
        <i class="bi bi-box-arrow-right fs-15 drop-two"></i>
    </button>

</div>