<app-header></app-header>

<div class="row">
    <div class="col-md-1 bg-base pt-4">
        <app-sidebar class="d-none d-md-block"></app-sidebar>
    </div>
    <div class="col-md-11">
        <h5 class="m-4">ANÁLISIS CSV</h5>
        <app-load-file *ngIf="!active" (change)="detectTransition($event)"></app-load-file>
        <div *ngIf="!active" class="espacio"></div>
        <app-grafic *ngIf="active"></app-grafic>
        <div class="espaciado"></div>
    </div>
</div>

<app-footer></app-footer>